includes:
	- %currentWorkingDirectory%/tests/php/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Offset .* on array\{http_referer: .*\} in isset\(\) always exists and is not nullable\.#'
    - '#Offset .* does not exist on array\{http_referer: .*\}\.#'
